body{
	width: 800px;
}
.main{
	display: inline-block;
	font-family: Tahoma;
	font-size: 40px;
	border-left: dotted #D0D0FF 10px;
	width: 90px;
	height: 140px;
	background-color: #eeeff2;
	margin-left:10px;
	padding:10px;
	
}
#box6{
position: absolute;
left: 90%;
top:73%;
}
.main:hover{
	cursor: pointer;
	background: yellow;
}